body {
   line-height: 20px;
   font-family: Helvetica, sans-serif;
}

hr {
   height: 1px;
   width: 100%;
   border: none;
   background-color: white;
   margin: 20px 0;
}

a {
    color: #BC4026;
    padding: 3px;
}
a:hover {
    background-color: #FCF8CB;
    border-radius: 10px;
    text-decoration: none;
}

aside {
   background-color: #333;
   color: white;
   position: fixed;
   width: 200px;
   height: 100%;
   top: 0;
   left: 0;
   padding: 50px;
   font-size: 13px;
   border-right: 1px solid black;
   -moz-box-shadow: inset -10px 0 30px black;
   -webkit-box-shadow: inset -10px 0 30px black;
   box-shadow: inset -10px 0 30px black;
}

@media (max-width: 700px) {
   aside {
      position: static;
      width: 100%;
      height: auto;
   }
}

aside h1 a {
   display: block;
   font-size: 15px;
   padding: 0;
   margin: 20px 0;
   color: white;
}
aside h1 a:hover {
   background-color: transparent;
   border-radius: 0px;
   text-decoration: underline;
}

article {
   display: block;
   max-width: 600px;
   margin: 40px auto;
   color: black;
}

h3 {
   text-decoration: underline;
}

h2 {
   margin-top: 80px;
}

h2,
article header h1 {
    font-family: 'Philosopher', arial, serif;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

p {
    margin: 12px;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
}

.date {
   color: gray;
   font-size: .5em;
}

pre code { 
  font-size: .7em !important;
  border-radius: 5px;
}